.shopping-container {
    max-width: 600px;
    margin: 4rem auto;
    padding: 3rem;
}

.shopping-container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.add-item-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.add-item-form input {
    padding: 0.8rem;
    border: 2px solid var(--color-contrast);
    background: transparent;
    color: var(--color-text);
    font-family: var(--font-ui);
    flex-grow: 1;
}

.add-item-form button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.shopping-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px dashed var(--color-contrast);
}

.item-main {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-primary);
    border-radius: 50%; /* Round checkboxes for this style */
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-name {
    font-family: var(--font-header);
    font-size: 1.8rem;
}

.item-qty {
    font-family: var(--font-ui);
    font-size: 0.9rem;
    color: var(--color-accent);
}
